@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-4 hyperlinktext">
        <h5>
            <br /><br />
            <address>
                JSB Velgen en veren<br />
                Schrieksesteenweg 105<br />
                2221 Pijpelheide<br />
                <abbr title="Phone">Telefoon:</abbr>
                +32475.57.26.40
            </address>


            <address>
                <strong>Email:</strong>   <a href ="mailto:steven.van.acker3@telenet.be">steven.van.acker3@telenet.be</a><br />

            </address>
        </h5>
    </div>
    <div class=" col-md-4 hyperlinktext">
        <br /><br />
        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?f=d&amp;source=s_d&amp;saddr=Schrieksesteenweg+105,+Pijpelheide&amp;daddr=&amp;hl=nl&amp;geocode=&amp;aq=t&amp;sll=51.026713,4.75296&amp;sspn=0.00411,0.010568&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=51.026713,4.75296&amp;spn=0.00411,0.010568&amp;output=embed"></iframe><br /><small><a href="https://maps.google.be/maps?f=d&amp;source=embed&amp;saddr=Schrieksesteenweg+105,+Pijpelheide&amp;daddr=&amp;hl=nl&amp;geocode=&amp;aq=t&amp;sll=51.026713,4.75296&amp;sspn=0.00411,0.010568&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=51.026713,4.75296&amp;spn=0.00411,0.010568" style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
    </div>
    <div class=" col-md-4 hyperlinktext">
        <br /><br />
        <p>
            <strong>JSB Velgen en veren is makkelijk bereikbaar en niet ver van verschillende autowegen.</strong>
        <p>
            10 minuten vanaf afrit Aarschot(Leuven naar Hasselt), richting Lier/Heist-op-den-Berg.<br /><br />
            20 minuten vanuit Mechelen, Lier.<br /><br />
            Pijpelheide bevind zich op tien minuten rijden vanuit Heist-op-den-Berg.
        </p><br />
        </p>
    </div>
</div>