@{
    ViewBag.Title = "FAQ";
}

<h1 class="titles">FAQ's</h1><br />
<h3 class="titles">Hieronder een paar van de vraagjes/antwoorden die nuttig kunnen zijn...</h3><br />
<h3 class="titles">Waarom een stalen velg kiezen of juist een lichtmetalen velg</h3><br />
<h4 class="titles">Stalen velg</h4>
<p>
    Deze is, zoals de naam al doet vermoeden, gemaakt van staal.
    Deze velgen zijn de norm en worden standaard op nieuwe wagens geplaatst.
    Ze bieden immers de perfecte bescherming bij kleine opspringende steentjes en aanvaringen met de stoeprand.
    Bovendien zijn ze beter bestand tegen strooizout tijdens de winterperiode.
    Bij winterbanden worden stalen velgen dus ten zeerste aangeraden.
</p><br /><br />
<h4 class="titles">Lichtmetalen velg</h4>
<p>
    Hoewel de voordelen van stalen velgen voor zich spreken, brengen sommige fabrikanten ook lichtmetalen velgen op de markt.
    Deze velgen zijn gemaakt uit aluminium en verbeteren de rijprestaties van een auto enorm.
    Een groot voordeel is bijvoorbeeld het behalen van hogere snelheden, wat te danken is aan het lichte gewicht van aluminimum.
    Bovendien zijn lichtmetalen velgen zeer geliefd om esthetische redenen.
</p><br /><br />
<h4 class="titles">Wat is de velgmaat voor mijn wagen?</h4><br />
<div class="container">
    <div class="enkel">
        <img src="~/Images/banden laadvermogenIndicator.png" />
    </div>
    <div class="dubbel">
        <br /><br /><p>
            Deze veelgestelde vraag is volledig terecht en hangt van verschillende factoren af.
            Deze factoren, zoals het type auto en de bandenmaat, bepalen welke velgen überhaupt op uw wagen kunnen gemonteerd worden.
            De velgmaat kan u echter gemakkelijk terugvinden op uw huidige band. Op de zijkant van uw band kunt u immers de bandenmaat aflezen.
            Het laatste getal geeft in dit geval de velgmaat in inches weer.
            Wenst u echter een band met andere afmetingen te plaatsen, dan is de bandenmaat omrekenen een cruciale stap.
        </p><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
<h4 class="titles">Hoe duur zijn velgen?</h4>
<p>
    De prijs van velgen wordt door meerdere factoren bepaald, zoals uw type auto, maar vooral door het materiaal van de velgen.
    Lichtmetalen velgen bijvoorbeeld zijn vanwege licht gewicht en knappe uitstraling duurder dan stalen velgen.
    Toch bestaan er tussen velgen van deze soort ook grote prijsverschillen.
    Hierdoor kunt u altijd profiteren van goedkope velgen.
    De kosten van velgen zijn bovendien ook vaak lager wanneer u tijdens de halfjaarlijkse bandenwissel uw complete wielen, in plaats van enkel de banden, laat vervangen.
    Want enkel banden wisselen is nu eenmaal een hele opgave waarbij de kans op beschadigingen aan de band en velg vergroot.
</p><br /><br />
<h4 class="titles">Kan ik eender welke velg onder mijn wagen plaatsen?</h4>
<p>
    Neen, er zijn een aantal parameters waarmee u rekening moet houden. Zo moet de totale wieldiameter overeenstemmen met de originele diameter.
</p>
<h5>Hier zijn een paar parameters waar dient rekening mee gehouden te worden:</h5><br />
<p>
    1 Velgbreedte<br />
    2 velgdiameter<br />
    3 Naafasdiameter<br />
    4 PCD (steekcirkel diameter)<br />
    5 ET waarde (Einpresstiefe)<br />
    6 Remklauw ruimte<br />
    7  Boutgat diameter<br />
    8  Hartlijn velgen<br />
    9  Flank<br />
    10 Contour<br />
    11 Bandzetel<br />
    12 Ventielgat<br />
    13 Montage oppervlakte<br />
</p><br /><br />
<div class="row">
    <div class="enkel1">
        <h4 class="titles">1 * 2 = Velgafmeting</h4>
        <p>
            Velgafmetingen zijn gedefineerd als diameter x breedte in de engelse inch maatvoering.
            Bijvoorbeeld; 17 x 7,5.  Een 17 x 7,5 velg heeft een breedte van 7,5 inch en een diameter van 17 inch.
            Voor een juiste velg/band combinatie is over het algemeen gesproken de breedte van de velg smaller als die van de band.
        </p>
    </div>
         <div class="dubbel">
                <h4 class="titles">5 ET-waarde(Eindpresstiefe)</h4>
                <p>
                    De ET waarde van een velg duidt de afstand tussen de hartlijn van de velg (8) en het montageoppervlak van de velg (13). 
                    Het is van uiterst belang dat er wielen gemonteerd worden met een correcte ET waarde, om conflict van de velg met 
                    stuurstangen, -kogels , remtangen en spatborden te voorkomen. Daarbij voorkomt het belasting op diverse lagers en wielophanging.
                    De ET waarde kan zowel positief als negatief zijn. De meeste moderne auto vereisen een positieve ET waarde. 
                    De grootste uitzondering op deze regel betreft de 4x4 voertuigen, welke vaak een negatieve ET waarde gebruiken.
                </p>
        </div>
    </div>
<div class="row">
        <div class="enkel1">
            <h4 class="titles">4 PCD/Steek(Pitch Circle Diameter)</h4>
            <p>
                De P.C.D. ofwel steek kan gedefineerd worden als de diameter, in millimeters, van een denkbeeldige cirkel gevormd 
                door de kernen van de boutgaten van de hub van het voertuig. 
                Deze diameter moet overeenkomen met de PCD waarde van de te monteren velg.
            </p>
        </div>
    <div class="dubbel">
        <h4 class="titles">3 Naafgat(centerbore)</h4>
        <p>
            Nu wordt het naafgat van de velg bij de productie vaak groter gehouden als noodzakelijk. 
            Dit zorgt ervoor dat dezelfde velg geschikt is voor meerdere auto’s met afwijkende naafassen. 
            Het verschil in diameter tussen naafgat van de velg en de naafas van de hub wordt passend gemaakt m.b.v. een centreerring. 
            Belangrijk is dat de diameter van het gat slechts 0,1 mm groter is als dat van de as, om trillingen en onbalans tijdens het rijden te voorkomen. 
            Gebruik dus altijd een centreerring om het verschil in diameters op te vangen.
        </p>
    </div>
</div><br />
<h4 class="titles">Dus wat zijn de belangrijkste parameters die je eigenlijk nodig hebt...</h4>
<p>
    - Het model<br />
    - Velgenmaat (inch)<br />
    - ET Waarde, mm<br />
    - P,C,D, mm<br />
    - Gaten, ( van velgen voor de bouten)<br />
    - Naafgat, mm<br />
</p>




