@{
    ViewBag.Title = "Tips";
}

<h1 class="titles">How To...</h1><br />

<h2 class="titles">Waar vind ik de indicatiewaarde voor laadvermogen of maximumsnelheid?</h2><br />
<p>Op de zijkant van je autoband kan je de bandenmaat aflezen. </p><br /><br />
<div class="row">
    <div class="col-md-4 hyperlinktext">
        <img src="~/Images/banden laadvermogen.png" />
    </div>
    <div></div>
    <div class="col-md-4">
        <h4>
            205: De breedte van de band in millimeters<br /><br />
            55: De verhouding tussen de breedte en de hoogte van de band<br /><br />
            R: Radiaal (opbouw van de band)<br /><br />
            16: De diameter van de velg in inches<br /><br />
            91: code voor laadvermogen<br /><br />
            V: code voor maximumsnelheid<br /><br />
        </h4>
    </div>
</div><br /><br /><br />

<h2 class="titles">Laadvermogen</h2>
<br /><p>Onderstaande tabel geeft een waarde voor de verschillende codes van het laadvermogen weer.</p><br />

<img src="~/Images/loadindex.png" /><br /><br />

<h2 class="titles">Maximum snelheid</h2>
<br /><p>Onderstaande tabel geeft een waarde voor de verschillende codes van de maximumsnelheid weer.</p>

<img src="~/Images/maximumsnelheidband.png" />