
@{
    ViewBag.Title = "Delivery";
}

<h2 class="titles">Verzend- en afhaalopties</h2><br />

<h3>Levering (€ 50,00)</h3>
<p>
    Onze eigen afleverservice verzorgt de levering van je gekozen banden en/of velgen. <br />
    Hierdoor kan je er zeker van zijn dat je bestelling correct bij jouw thuis of op het gekozen afleveradres wordt afgeleverd.<br />
    De verzendkosten zijn 50 euro inclusief btw.<br />
    Bij je bestelling kan je een afleverdatum kiezen. Deze datum is slechts een indicatie van de verwachte leverdatum. <br />
    De exacte leverdatum is afhankelijk van de voorradigheid van de gekozen producten. Dit is meestal tussen 3 en 5 werkdagen.<br />
    Na voorradigheid ontvang je een e-mail met een correcte leverdatum.<br /><hr />
</p>

<h2>LET OP!!</h2>
<p>
    Verzendkosten van 50 euro gelden enkel voor verzendingen in België. <br />
    Indien naar het buitenland verzonden moet worden neem je best even contact op met JSB Velgen en Veren<br /><br />
    Afhalen (gratis)<br />
    Jouw banden en/of velgen kunnen ook GRATIS afgehaald worden in ons montagecenter. <br />
    Dit kan je eenvoudig aangeven bij de stap 'afhaling' of 'verzending'. Je dient hierbij een afhaaldatum te selecteren.<br />
    Nadat wij je banden en/of velgen hebben klaargezet, ontvang je een e-mail dat je bestelling kan worden afgehaald.<br />
</p>

