
@{
    ViewBag.Title = "PayOption";
}

<h2 class="titles">Betaalmogelijkheden</h2><br />

<p>
    
    Als je voor overschrijving kiest, kunnen we je bestelling pas klaarmaken nadat we je betaling hebben ontvangen.<br />
    Opgelet: de transactietijd van een betaling kan tot 3 (bank)werkdagen duren. <br />
    Jouw gekozen leverdatum wordt dan eventueel opgeschoven.<br /><br /><hr />

    Rekeningnr.: BE71 7350 3686 8169<br/>
    Begunstige: JSB Velgen en Veren Schrieksesteenweg 105, 2221 Booischot<br />
    Referentie: referentienummer van uw bestelling<br /><br />

    Vooraf betaling in winkel<br />
    De Bestelling dient eerst betaald te worden in de winkel.<br />
    Enkel mogelijk bij afhaling.<br /><br />
</p>

