
@{
    ViewBag.Title = "Privacy";
}

<h2 class="titles">Privacy Policy</h2><br />
<p>
    De verkoper behoudt zich het recht voor om uitsluitend voor intern gebruik gegevens van de gebruiker te verzamelen, dit zowel rechtstreeks via verzameling van de gegevens die door de gebruiker worden opgegeven op het ogenblik van de bestelling, als onrechtstreeks (bv. via gebruik van cookies, hetgeen korte datastrings zijn op de computer van de gebruiker van de site die de verkoper toelaten de inhoud en de lay-out van de site optimaal op de gebruiker ervan af te stemmen).<br /><br />
    Die gegevens kunnen worden doorgegeven aan organisaties die contractueel met de verkoper zijn verbonden (zoals handelspartners, verenigingen, liefdadigheidsinstellingen of belangengroepen) en die de klant gepersonaliseerde aanbiedingen wensen te versturen of op de hoogte te houden van promoties.<br /><br />
    Overeenkomstig de Wet van 8 december 1992 ter bescherming van de persoonlijke levenssfeer inzake persoonlijke gegevens, heeft de gebruiker te allen tijde het recht om die gegevens in te zien, te wijzigen en te laten verwijderen indien zij niet langer informatie wensen te ontvangen omtrent onze activiteiten.<br />
    Hiervoor kunnen zij schriftelijk contact opnemen met de klantendienst van de verkoper.<br />
</p>

