
@{
    ViewBag.Title = "Algemene Voorwaarden";
}

<h2 class="titles">Algemene Voorwaarden</h2>

<h4>Artikel 1: Algemeen</h4>
<p>
    1. Op alle aanbiedingen van JSB Velgen en Veren zijn de navolgende leverings- en betalingsvoorwaarden van toepassing.<br /><br />
    2. Naast deze algemene voorwaarden kan JSB Velgen en Veren aanvullende voorwaarden hanteren die specifiek van toepassing zijn op de soort transactie c.q. aard van de werkzaamheden. De aanvullende voorwaarden maken deel uit van deze algemene voorwaarden.<br /><br />
    3. De hierin vermelde voorwaarden prevaleren te allen tijde boven die van de koper ongeacht of de voorwaarden van de koper in strijd zijn met of afwijken van de voorwaarden van JSB Velgen en Veren.<br /><br /><hr />
</p>
<h4>Artikel 2: Totstandkoming van de overeenkomst</h4>
<p>
    1. De koopovereenkomst komt tot stand door ontvangst bij JSB Velgen en Veren van de ondertekende orderbevestiging via e-mail, internet, telefonisch of anderszins.<br /><br />
    2. JSB Velgen en Veren heeft het recht om zonder opgave van redenen bestellingen of opdrachten niet te accepteren of uitsluitend te accepteren onder de voorwaarde dat de verzending geschiedt onder rembours of na vooruitbetaling, in welk geval de koper dienovereenkomstig wordt ingelicht.<br /><br /><hr />
</p>
<h4>Artikel 3: Offertes</h4>
<p>
    1. De prijsvermeldingen van JSB Velgen en Veren zijn geen offerte.<br /><br />
    2. Offertes worden uitsluitend op speciaal verzoek afgegeven en hebben een geldigheidsduur van 14 dagen tenzij anders is aangegeven.<br /><br />
    3. Offertes zijn vrijblijvend, tenzij anders in de offerte is aangegeven.<br /><br /><hr />
</p>
<h4>Artikel 4: Aanbiedingen</h4>
<p>
    1. Alle op de website van JSB Velgen en Veren vermelde aanbiedingen gelden zolang deze op de site staan.<br /><br />
    2. JSB Velgen en Veren behoudt zich het recht voor prijswijzigingen door te voeren in de aanbiedingen.<br /><br /><hr />
</p>
<h4>Artikel 5: Prijzen</h4>
<p>
    1. Alle prijzen op de website van JSB Velgen en Veren zijn inclusief 21% btw.<br /><br />
    2. Voor de producten worden de prijzen gehanteerd zoals vermeld op de website van JSB Velgen en Veren onder voorbehoud van type- of drukfouten. JSB Velgen en Veren heeft het recht voor levering de koper te informeren als dit het geval is.<br /><br />
    3. De producten van JSB Velgen en Veren worden geleverd tegen de prijzen die gelden op de datum van bestelling.<br /><br /><hr />
</p>
<h4>Artikel 6: Afbeeldingen</h4>
<p>
    1. Alle afbeeldingen, tekeningen, gegevens betreffende gewichten, afmetingen, kleuren, enz. opgenomen op de website, gelden slechts bij benadering en kunnen geen aanleiding tot schadevergoeding en/of ontbinding van een overeenkomst zijn.<br /><br /><hr />
</p>
<h4>Artikel 7: Betaling</h4>
<p>
    1. Hoofdregel is dat de levering plaatsvindt nadat de betaling is ontvangen, tenzij uitdrukkelijk anders werd overeengekomen. Betaling kan plaatsvinden onder rembours of via overboeking vooraf op onze rekening. Levering op rekening is slechts mogelijk indien dit uitdrukkelijk tussen beide partijen nader overeengekomen wordt.<br /><br />
    2. Voor het geval dat JSB Velgen en Veren een factuur zendt, dient betaling te geschieden binnen 14 dagen na factuurdatum tenzij schriftelijk anders is overeengekomen.<br /><br />
    3. Indien de koper de factuur niet op de vervaldag heeft voldaan, is er zonder voorafgaande ingebrekestelling in verzuim en een rente aan JSB Velgen en Veren  verschuldigd van 1,5% over het openstaande bedrag per maand, waarbij een ingegane maand voor een gehele wordt gerekend.<br /><br />
    4. JSB Velgen en Veren is gerechtigd bij het uitblijven van de betaling de zaak ter incasso uit handen te geven. Zodra JSB Velgen en Veren hiertoe is overgegaan, komen alle gerechtelijke en buitengerechtelijke kosten integraal voor rekening van de debiteur.<br /><br />
    5. In behandeling genomen reclames en/of garantieaanspraken geven geen recht tot betalingsuitstel of gedeeltelijke betaling.<br /><br /><hr />
</p>
<h4>Artikel 8: Verzending</h4>
<p>
    1. De producten worden verzonden voor risico van JSB Velgen en Veren. De koper draagt het risico voor de producten van het ogenblik af waarop zij aan het opgegeven adres ter ontvangst worden aangeboden.<br /><br />
    2. De koper is gehouden bij aflevering de producten in ontvangst te nemen. Bij gebreke daarvan worden de producten door koeriersdienst opgeslagen. De hieraan verbonden kosten zijn voor rekening van de koper als na te melden.<br /><br />
    3. Als de koper bij aflevering de producten weigert in ontvangst te nemen, worden ze teruggestuurd naar Online-Velgen, eventueel na opslag bij koeriersdienst.<br /><br />
    4. Ingeval de koper zonder rechtsgeldige annulering een bestelde rembourszending geweigerd heeft in ontvangst te nemen of na 2 weken niet heeft afgehaald van de door koeriersdienst op te geven opslagplaats, zal JSB Velgen en Veren de koper een factuur sturen van de door JSB Velgen en Veren gemaakte kosten. Hieronder vallen onder andere de transportkosten, administratiekosten alsmede mogelijke waardevermindering. Deze kosten bedragen 15% van de hoofdsom met een minimum van 25 euro. JSB Velgen en Veren is gerechtigd bij het uitblijven van de betaling de zaak ter incasso uit handen te geven. Zodra JSB Velgen en Veren hiertoe is overgegaan, gelden de bepalingen te dezen van artikel 7.<br /><br /><hr />
</p>
<h4>Artikel 9: Levering</h4>
<p>
    1. Bij betaling op factuur, middels ontvangst van de koopsom op onze rekening dan wel onder rembours, vindt levering plaats middels verzending van uw bestelling binnen zeven werkdagen. Mocht de levertijd de zeven werkdagen overschrijden dan krijgt de koper hierover bericht met een opgave van de reden van vertraging.<br /><br />
    2. De opgegeven leveringstermijnen zijn geen fatale termijnen en dienen te worden opgevat als een inspanningsverbintenis en worden geacht bij benadering te zijn opgegeven.<br /><br />
    3. Overschrijding van een leveringstermijn geeft de koper nimmer het recht op enige schadevergoeding, ontbinding van de overeenkomst of enige andere actie jegens JSB Velgen en Veren.<br /><br />
    4. Bestelde producten zijn ook af te halen via de showroom / magazijn.<br /><br /><hr />
</p>
<h4>Artikel 10: Garantie</h4>
<p>
    1. JSB Velgen en Veren staat in voor een hoge kwaliteit van de door haar verleende diensten en voor de deugdelijkheid en goede kwaliteit van de geleverde producten, met dien verstande dat de garantie niet verder gaat dan in de hierna volgende bepalingen vermeld.<br /><br />
    2. Op geleverde producten wordt zes maanden garantie verleend, tenzij anders is vermeld.<br /><br />
    3. De koper dient de voor vervanging of reparatie in aanmerking komende producten afhankelijk van het merk en type te voorzien van een duidelijke klachtomschrijving en dient ze op eigen kosten in de originele verpakking met de factuur te retourneren naar JSB Velgen en Veren of een daartoe aangewezen reparatieservicecenter. Indien na controle blijkt dat er inderdaad sprake is van aan JSB Velgen en Veren verwijtbare defecten, zullen deze gebreken kosteloos worden verholpen.<br /><br />
    4. Mochten de defecten veroorzaakt zijn door de koper dan zijn alle reparatie- en verzendkosten voor diens rekening.<br /><br />
    5. De koper kan geen beroep doen op de garantiebepalingen:<br /><br />
    A: indien de koper de producten heeft verwaarloosd.<br /><br />
    B: indien de koper wijzigingen aan de producten heeft aangebracht c.q. heeft laten aanbrengen waaronder ook vallen reparaties die niet door of namens JSB Velgen en Veren zijn verricht.<br /><br />
    C: bij onoordeelkundig of onzorgvuldig gebruik, verkeerde montage, beschadiging door inwerken van vocht of door andere van buiten komende oorzaken of onheilen.<br /><br />
    D: bij beschadiging door inwerken van zaken als pekel en zouten, veelal voorkomend in winterse omstandigheden<br /><br />
    E: indien het product niet op de gebruikelijke dan wel in de gebruiksaanwijzing omschreven wijze is onderhouden.<br /><br />
    F: indien het product wordt gebruikt met ondergeschikte of verkeerde accessoires.<br /><br />
    G: indien de koper de producten op andere wijze heeft veronachtzaamd.<br /><br /><hr />
</p>
<h4>Artikel 11: Eigendomsvoorbehoud</h4>
<p>
    1. De eigendom van geleverde producten door JSB Velgen en Veren wordt uitdrukkelijk voorbehouden totdat de volledige koopsom is voldaan.<br /><br /><hr />
</p>
<h4>Artikel 12: Handelsmerk</h4>
<p>
    1. De fabrieks- of handelsmerken dan wel de type- of identificatienummers of -tekens, die op de door JSB Velgen en Veren afgeleverde producten zijn aangebracht, mogen niet verwijderd, beschadigd of gewijzigd worden. Elke wijziging, hoe dan ook, doet de garantie vervallen.<br /><br /><hr />
</p>
<h4>Artikel 13: Aansprakelijkheidsbeperking</h4>
<p>
    1. JSB Velgen en Veren aanvaardt geen enkele verantwoording van schade aan andere producten van koper of van derden welke direct of indirect veroorzaakt wordt door een defect aan een geleverd product.<br /><br />
    2. JSB Velgen en Veren is op geen enkele wijze aansprakelijk voor schade aan producten welke is ontstaan door verkeerde behandeling, ondeskundigheid, verkeerde montage, verkeerd gebruik of gebruik buiten de specificaties.<br /><br />
    3. Verder aanvaardt JSB Velgen en Veren geen enkele aansprakelijkheid voor welke schade dan ook, ontstaan door onverantwoordelijk of onveilig gebruik tijdens het gebruik, in welke vorm dan ook en rijdend of stilstaan van de auto.<br /><br /><hr />
</p>
<h4>Artikel 14: Overmacht</h4>
<p>
    1. Indien JSB Velgen en Veren door overmacht niet aan haar verplichtingen jegens koper kan voldoen, wordt de nakoming van die verplichtingen opgeschort voor de duur van de overmachtstoestand.<br /><br />
    2. Indien de overmacht 1 maand duurt, hebben beide partijen het recht de overeenkomst schriftelijk geheel of gedeeltelijk te ontbinden, voor zover de overmachtssituatie dit rechtvaardigt.<br /><br />
    3. Volgens de wet Koop op afstand heeft een consument het recht de overeenkomst kosteloos te ontbinden als de levertijd de 30 dagen overschrijdt.<br /><br />
    4. In geval van overmacht heeft koper geen recht op enige (schade)vergoeding, ook niet als JSB Velgen en Veren als gevolg van de overmacht enig voordeel mocht hebben.<br /><br />
    5. JSB Velgen en Veren zal koper zo spoedig mogelijk van een (dreigende) overmacht op de hoogte stellen.<br /><br /><hr />
</p>
<h4>Artikel 15: Ontbinding</h4>
<p>
    1. Indien de koper zijn verplichtingen jegens JSB Velgen en Veren niet, niet tijdig of niet behoorlijk nakomt, alsmede indien zijn faillissement is/wordt aangevraagd, hij in staat van faillissement wordt verklaard, hij surseance van betaling aanvraagt, dan wel aan zijn crediteuren of een deel van hen een regeling of een akkoord aanbiedt, voorts bij beslaglegging op zijn activa of een deel daarvan, dan wel hij tot verkoop of liquidatie van zijn bedrijf overgaat, alsmede in geval van overlijden, ondercuratelestelling of indien hij op andere wijze het beheer dan wel de leiding over zijn bedrijf, producten of een deel daarvan verliest, is koper van rechtswege in verzuim en is elke vordering, die JSB Velgen en Veren te zijnen laste heeft of verkrijgt, dadelijk en ineens opeisbaar zonder dat daartoe enige ingebrekestelling is vereist.<br /><br />
    2. In gevallen onder 1 genoemd, heeft JSB Velgen en Veren het recht, zonder enige ingebrekestelling, harerzijds de verdere uitvoering van de overeenkomst op te schorten of deze geheel of gedeeltelijk te ontbinden of gebruik te maken van het bepaalde in artikel 11.<br /><br />
    3. JSB Velgen en Veren is te allen tijde bevoegd alsdan schadevergoeding van de koper te vorderen, alsmede de geleverde producten terug te nemen.<br /><br />
    4. Ingeval de koper de overeenkomst wenst te ontbinden, zal hij te allen tijde eerst JSB Velgen en Veren schriftelijk in verzuim stellen en deze een redelijke termijn gunnen om alsnog haar verplichtingen na te komen, dan wel tekortkomingen te herstellen, welke tekortkomingen koper nauwkeurig schriftelijk dient te omschrijven.<br /><br />
    5. De koper heeft geen recht de overeenkomst geheel of gedeeltelijk te ontbinden of zijn verplichtingen op te schorten, indien hij zelf reeds in verzuim was met nakoming van zijn verplichtingen.<br /><br />
    6. In geval van gedeeltelijke ontbinding kan de koper geen aanspraak maken op ongedaanmaking van reeds door JSB Velgen en Veren verrichte prestaties, en heeft JSB Velgen en Veren onverkort recht op betaling voor de reeds door haar verrichte prestaties.<br /><br />
    7. Ten aanzien van de wet Koop op afstand geldt voor particuliere afnemers dat zij een wettelijk gereguleerde afkoelingsperiode van 14 dagen mogen gebruiken om ongebruikte en in onberispelijke verkoopbare staat afgenomen producten te kunnen retourneren en het volledige aanschafbedrag dan door JSB Velgen en Veren wordt terugbetaald.<br /><hr />
</p>
<h4>Artikel 16: Toepasselijk recht</h4>
<p>
    1. Op deze overeenkomst is het Belgische recht van toepassing. Bij geschillen zullen beide partijen zich wenden tot de Rechtbank te Turnhout.<br />
</p>

